<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajout d'un étudiant</title>
</head>
<body>
<h1>Ajouter un étudiant</h1>
<form th:action="@{/student/add}" method="post" th:object="${student}">
    <input th:field="*{id}" hidden>

    <label for="firstNAme">Prénom du contact</label>
    <input type="text" id="firstNAme" th:field="*{firstName}" required>
    <label for="lastNAme">Prénom du contact</label>
    <input type="text" id="lastNAme" th:field="*{lastName}" required>

    <label for="email">Email du contact</label>
    <input type="email" id="email" th:field="*{email}" required>

    <label for="age">Age du contact</label>
    <input type="number" id="age" th:field="*{age}" required>
    <button>Submit</button>
</form>
</body>
</html>